.avatar {
  height: 70px;
  width: 70px;
  display: flex;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #fff;
}

.avatar__img {
  object-fit: cover;
  border-radius: 50%;
}

img[class] {
  width: 100%;
}
