/* 
  HEADER
*/
.header {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url('../../img/trending-title.jpg');
  background-size: cover;
  background-position: center bottom;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__title {
  position: relative;
  text-align: center;
  color: var(--clr-gray-9);
}

.header__title-text h1 {
  margin-bottom: 1.5rem;
}

.header__title-text span {
  display: block;
  margin-bottom: 0.8rem;
}

.header__title-text span i {
  margin-right: 0.5rem;
}

.header__title-text p {
  display: inline-block;
  padding: 0.25rem 0.8rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

.header__title-icons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.header__title-icons i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
  color: var(--clr-primary);
  background-color: var(--clr-bg-light);
  border-radius: 50%;
}
/* 
  END HEADER
*/

/* 
  CONTENT
*/
.content {
  text-align: center;
}

.content h2 {
  line-height: 1.7;
  margin-bottom: 1rem;
}

.content p {
  line-height: 2;
}

.content__text {
  padding: 2rem 1rem;
}

.content__grid {
  display: grid;
  grid-template-rows: repeat(4, minmax(50vh, auto));
  margin-bottom: 2rem;
}

.content__grid > div {
  /* min-height: 40vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.content__grid-text {
  max-width: 70%;
  padding: 3rem 0;
  justify-self: center;
}

.content__grid-text cite {
  margin-top: 1.3rem;
  font-weight: 700;
}

.content__grid-text:nth-of-type(2) {
  color: var(--clr-primary);
}

.content__grid-img-one {
  background: url('../../img/trending-main-1.jpg');
}

.content__grid-img-two {
  background: url('../../img/trending-main-2.jpg');
}
/* 
  END CONTENT
*/

/* 
  CONTENT VIDEO
*/
.content__video {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../img/trending-video.jpg');
  background-size: cover;
  background-position: center 80%;
}

.content__video i {
  padding: 1.5rem;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: var(--clr-bg-light);
  background-color: var(--clr-primary);
  border-radius: 50%;
}
/* 
  END CONTENT VIDEO
*/

@media (min-width: 520px) {
  .header__title {
    padding-bottom: 3rem;
  }

  .header__title-text {
    margin-bottom: 5rem;
  }
}

@media (min-width: 700px) {
  .header__title-text-icons {
    display: flex;
    justify-content: space-around;
  }

  .content__text p {
    padding: 4rem 3rem;
  }

  .content__grid {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 50vh;
  }

  .header__title {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }

  .header__title-text {
    margin-bottom: 0;
  }

  .header__title-text-icons {
    justify-content: start;
  }

  .header__title-text-icons span {
    margin-right: 3rem;
  }

  .header__title-icons {
    margin-top: 0;
    padding: 0 0 0 3rem;
  }

  .header__title-icons i {
    margin: 0.5rem;
  }

  .content {
    text-align: left;
  }

  .content h2 {
    margin-bottom: 0;
  }

  .content__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(60vh, auto));
  }

  .content__grid-text {
    max-width: 60%;
    padding: 5rem 0;
  }

  .content__grid-img-two {
    grid-column: 2 / 3;
    grid-row: 2;
  }
}
