.comment-container {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1.5rem 2.5rem;
  background-color: #fff;
  border-radius: 10px;
}

.comment__body {
  padding-top: 0.7rem;
}

.comment__body-name {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.comment__body-icons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.comment__body-icons span {
  margin-top: 1rem;
}

.comment__body-icons span i {
  margin-right: 0.5rem;
}

.liked {
  color: var(--clr-accent);
}

@media (min-width: 600px) {
  .comment-container {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
  }

  .comment__body {
    padding-left: 1.5rem;
  }

  .comment__body-icons {
    display: inline-block;
  }

  .comment__body-icons span {
    margin-right: 2rem;
  }
}
