button:focus,
input:focus {
  outline: 0;
}

input {
  color: var(--clr-gray-3);
}

.container {
  width: 90%;
  max-width: 1280px;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.btn {
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 2rem;
  }
}
