.social-login {
  display: flex;
  flex-direction: column;
}

.intro-text {
  margin-top: 2rem;
  color: var(--clr-gray-7);
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.form {
  width: 100%;
  margin-top: 1rem;
}

.form__group {
  padding: var(--p1-5);
  margin: var(--mtb-08);
  color: var(--clr-primary);
  background-color: #fff;
  border-radius: var(--br-5);
}

.form__group input {
  width: 100%;
  padding: 0 0.8rem;
  font-size: 1.5rem;
  border: none;
}

.email,
.password {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.form__btn {
  width: 100%;
  padding: var(--p1-5);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--clr-primary);
  border-radius: var(--br-5);
  border: none;
  cursor: pointer;
}

.login-text {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.login-text a {
  margin-left: 0.5rem;
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: 600;
}
